# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/
carbon_footprint_app/linux/flutter/ephemeral/.plugin_symlinks/device_info_plus
carbon_footprint_app/linux/flutter/ephemeral/.plugin_symlinks/flutter_web_auth_2
carbon_footprint_app/linux/flutter/ephemeral/.plugin_symlinks/package_info_plus
carbon_footprint_app/linux/flutter/ephemeral/.plugin_symlinks/path_provider_linux
carbon_footprint_app/linux/flutter/ephemeral/.plugin_symlinks/url_launcher_linux
carbon_footprint_app/linux/flutter/ephemeral/.plugin_symlinks/window_to_front
carbon_footprint_app/windows/flutter/ephemeral/.plugin_symlinks/device_info_plus
carbon_footprint_app/windows/flutter/ephemeral/.plugin_symlinks/flutter_web_auth_2
carbon_footprint_app/windows/flutter/ephemeral/.plugin_symlinks/package_info_plus
carbon_footprint_app/windows/flutter/ephemeral/.plugin_symlinks/path_provider_windows
carbon_footprint_app/windows/flutter/ephemeral/.plugin_symlinks/url_launcher_windows
carbon_footprint_app/windows/flutter/ephemeral/.plugin_symlinks/window_to_front

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.dart_tool/package_config.json
.dart_tool/package_subset
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
